body {
    background: #DBE6F6;
    background: -webkit-linear-gradient(to right, #be8d86, #DBE6F6);
    background: linear-gradient(to right, #be8d86, #DBE6F6);
}

h1 {
    font-family: serif;
    font-size: 40px;
}

h2 {
    font-family: serif;
    font-size: 25px;
}

p {
    font-family: sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6em;
}
